# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
develop-eggs/
dist/
.eggs/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/

# Local data
data/*
!data/.gitkeep

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Python tooling
.mypy_cache/
.pytest_cache/

# Docker
*.log